In [1]:
# Answer 1)

from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 5
The area of the circle with radius 5.0 is: 78.53981633974483

In [2]:
# Answer 2)

fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name : Pulkit
Input your Last Name : Arora
Hello  Arora Pulkit

In [3]:
# Answer 3)

filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: Exercise.py
The extension of the file is : 'py'

In [4]:
# Answer 4)

color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

In [5]:
# Answer 5)

a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 5
615

In [6]:
# Answer 6)

from datetime import date
f_date = date(2020, 7, 2)
l_date = date(2020, 7, 11)
delta = l_date - f_date
print(delta.days)

9

In [8]:
# Answer 7)

# Random is used to generate some random things.

import random
char_list = ['a','e','i','o','u']
random.shuffle(char_list)
print(''.join(char_list))

uaoei

In [10]:
# Answer 8)

x = input("Input the first number: ")
y = input("Input the second number: ")
z = input("Input the third number: ")
print("Median of the above three numbers: ")

if y < x and x < z:
    print(x)
elif z < x and x < y:
    print(x)
    
elif z < y and y < x:
    print(y)
elif x < y and y < z:
    print(y)
    
elif y < z and z < x:
    print(z)    
elif x < z and z < y:
    print(z)

Input the first number: 10
Input the second number: 5
Input the third number: 9
Median of the above three numbers:
5

In [11]:
# Answer 9)

nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [12]:
# Answer 10)

word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: tikluP
Pulkit

In [14]:
# Answer 11)

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) # Declaring the tuple
count_odd = 0
count_even = 0
for x in numbers:
        if not x % 2:
    	     count_even+=1
        else:
    	     count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 4
Number of odd numbers : 5

In [16]:
# Answer 12)

array_num = [1,2,3,4,5,6,7,8]

for i in array_num:
    print(i)

  
print("Access items individually")
print(array_num[0])
print(array_num[1])
print(array_num[2])
print(array_num[3])
print(array_num[4])
print(array_num[5])
print(array_num[6])
print(array_num[7])

1
2
3
4
5
6
7
8
Access items individually
1
2
3
4
5
6
7
8

In [17]:
# Answer 13)

def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((8, 2, 3, 0, 7)))

20

In [19]:
# Answer 14)

def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print(multiply((8, 2, 3, -1, 7)))

-336

In [20]:
# Answer 15)

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 5
120

In [21]:
# Answer 16)

def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

In [22]:
# Answer 17)

r = lambda a : a + 15
print(r(10))
r = lambda x, y : x * y
print(r(12, 4))

25
48

In [23]:
# Answer 18)

import datetime
now = datetime.datetime.now()
print(now)
year = lambda x: x.year
month = lambda x: x.month
day = lambda x: x.day
t = lambda x: x.time()
print(year(now))
print(month(now))
print(day(now))
print(t(now))

2020-07-25 17:39:45.194120
2020
7
25
17:39:45.194120

In [25]:
# Answer 19)

pi=22/7
radian = float(input("Input radians: "))
degree = radian*(180/pi)
print(degree)

Input radians: 54
3092.727272727273

In [26]:
# Answer 20)

pi=22/7
height = float(input('Height of cylinder: '))
radian = float(input('Radius of cylinder: '))
volume = pi * radian * radian * height
sur_area = ((2*pi*radian) * height) + ((pi*radian**2)*2)
print("Volume is: ", volume)
print("Surface Area is: ", sur_area)

Height of cylinder: 54
Radius of cylinder: 25
Volume is:  106071.42857142857
Surface Area is:  12414.285714285714