In [1]:
# Create A Lambda Function

x = lambda a : a + 10
print(x(5))     # Here a = 5

15

In [2]:
# Lambda Function can take any number of arguments

x = lambda a, b : a * b
print(x(5, 6))

30

In [3]:
# We can also use Lambda Function inside a normal function 

def func(n):
  return lambda a : a * n 

b = func(5)   # Here 5 is a value = n
print(b(3))   # Here 3 is a value = a

15

In [4]:
def func(n):
  return lambda a : a * n

one = func(2)     #   = n 
two = func(3)

print(one(11))    #     = a
print(two(11))

22
33